@{
    ViewBag.Title = "About Me";
}
<h2><br />
    @ViewBag.Title</h2>
<h4><br />
    @ViewBag.Message</h4>

<p>
    <br />
    Hello, I'm Miguel! I started programming this year, but I have already developed so many skills, and fostered an eagerness to learn as much as possible.  Along the start of
    my journey was mostly focused within the Microsoft ecosystem, particularly centered around C#, T-SQL, and ASP.NET.  I have branched
    out to other languages, including Python.  Whether its manipulating arrays or training
    an AI chatbot to respond with only Wu-Tang lyrics, I'm constantly learning and have thoroughly enjoyed the daily turbulence of deciphering 
    the programming world.
</p>
