@{
    ViewBag.Title = "Here's my info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    773.470.7832
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:Support@example.com">miguel.sanchez.jr@outlook.com</a><br />
   
</address>