@{
    ViewBag.Title = "Here's my info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    110 Johnson Blvd<br />
    Jacksonville, NC 28547<br />
    <abbr title="Phone">P:</abbr>
    773.470.7832
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">miguel.sanchez.jr@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>