@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Miguel Sanchez <br />Programming and Web Design</h1>
    <p class="lead"></p>
    <p><a href="https://github.com/120offset" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>
<div>
   <strong> @Html.ActionLink("Current Project", "Index", "Friends")</strong> <br/>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Transition</h2>
        <p>
            My current transition from the Marine Corps into software development sets me aside
            from others with a unique set of skills and experiences.  With a growing knowledge 
            in programming, database design and attention to detail I am able to take on future 
            roles as a software developer.  Check out my LinkedIn.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/miguelsanchez773/">LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MSSA</h2>
        <p>
            What is the MSSA program? Its Microsoft training designed to immerse service
            members into the IT field during an extensive 19-week course.  I am part of the 
            2018 Cloud Application Development cohort at Camp Lejeune.  For more information click the link below.
        </p>
        <p><a class="btn btn-default" href="https://military.microsoft.com/programs/mssa/">MSSA &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>
            UMA, Utility Mapping App, an informational mapping app has been the main focus of my projects.  
            The app intends to allow companies to track and record the modernization of US water
            infrastructure and make it available for public viewing.  I have also created RPG games, 
            AI chat bots, and other projects.  For more information check the link to my GitHub.
        </p>
        <p><a class="btn btn-default" href="https://github.com/120offset">GitHub &raquo;</a></p>
    </div>
</div>